<ion-header class="ion-no-border">  
   <ion-toolbar color="secondary">  
     <ion-buttons slot="start">    
     </ion-buttons>  
     <ion-title>  
       <h1><span>liste des films </span></h1>
     </ion-title>   
   </ion-toolbar>   
</ion-header> 

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content 
    pulllingIcon="arrow-dropdown"
    refreShingspinner="circles"
    ></ion-refresher-content>
  </ion-refresher>

  <div class="search">
    <h2 class="search__text">Retrouvez vos films et series ici...</h2>
    <ion-searchbar class="search__field" color="light" placeholder="Le Nom de Votre Film..." (ionChange)="searchChanged($event)"></ion-searchbar>
  </div>

<div *ngIf="!searchActive">
  <h2 class="header">les mieux notés</h2>
    <ion-slides [options]="opts">
      <ion-slide *ngFor="let trend of trending">
      <movie-preview [movie]="trend"></movie-preview>
    </ion-slide>
  </ion-slides>

  <h2 class="header">Tous les films</h2>
    <ion-slides [options]="opts">
      <ion-slide *ngFor="let movie_upcoming of upcoming">
      <movie-preview [movie]="movie_upcoming"></movie-preview>
    </ion-slide>
  </ion-slides>
  
</div>

<div *ngIf="searchActive">
  <ion-row class="search-result" *ngFor="let r of searchResults" [routerLink]="['/', r.media_type, r.id]" tappable>
    <ion-col size="4" class="ion-padding">
      <ion-img [src]="r.imageUrl" *ngIf="r.imageUrl"></ion-img>
        <div class="search-result__rating" style="color: black ;"
        [ngStyle]="{'background-color':(movie.vote_average >= 7 ? 'var(--ion-color-light)' : 'var(--ion-color-warning') }">
          {{ r.vote_average }}
        </div>
    </ion-col>
    <ion-col size="8" class="preview">
      <b class="search-result__title">{{ r.title || r.original_name }}</b>
      <span class="search-result__year" *ngIf="r.release_date"><i> ({{ (r.release_date | slice:0:4) }})</i></span> <br>
      <span>{{ (r.overview.length > 90) ? (r.overview | slice:0:90)+'...': (r.overview) }}</span>
    </ion-col>
    <ion-col class="ion-no-padding" size="12">
      <div class="line"></div>
    </ion-col>
  </ion-row>
</div>
</ion-content>
